body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #1a1a1a;
}

/* Portada */
.hero {
    background: linear-gradient(to right, #007cff, #00b4ff);
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.btn {
    background: white;
    color: #007cff;
    padding: 12px 24px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e8e8e8;
}

/* Secciones */
.section {
    padding: 70px 12%;
    text-align: center;
}

.bg-light {
    background: #f4f9ff;
}

/* Tarjetas */
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 30px;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    width: 270px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.08);
}

.card.small p {
    font-size: 14px;
}

.features {
    text-align: left;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.8;
}

/* Footer */
footer {
    text-align: center;
    padding: 25px;
    background: #00224d;
    color: white;
}
